{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('modify_password') }}">
    <div class="login-container">
        <h1>Modify Password Entry</h1>
        <input type="hidden" id="record_id" name="record_id" value="{{ record_id }}"><br>
        <label for="application">Application:</label>
        <input type="text" id="application" name="application" value="{{ application }}" readonly><br><br>
        <label for="username">Application Username:</label>
        <input type="text" id="username" name="username" value="{{ username }}" required><br><br>
        <label for="password">Password:</label>
        <div class="password-input">
        <input type="password" name="password" id="password" class="form-control" value="{{ password }}" required>
        <span class="custom-eye" id="password-toggle" onmouseover="togglePassword()" onmouseout="togglePassword()"></span>
        </div> <br>
        <label for="algorithm">Encryption Algorithm:</label>
        <select id="algorithm" name="algorithm">
            <option value="AES" {% if algorithm=='AES' %} selected {% endif %}>AES</option>
            <option value="DES"{% if algorithm=='DES' %} selected {% endif %}>DES</option>
            <option value="Blowfish"{% if algorithm=='Blowfish' %} selected {% endif %}>Blowfish</option>
            <option value="CAST5"{% if algorithm=='CAST5' %} selected {% endif %}>CAST5</option>
            <!-- Add more encryption algorithms as needed -->
        </select><br><br>
        <label for="given_url">Site URL:</label>
        <input type="text" id="given_url" name="given_url" value ="{{ given_url }}" required ><br><br>
        <label for="notes">Notes:</label><br>
        <textarea class="notes-box" id="notes" name="notes" value ="{{ notes }}" required></textarea><br>
        <button type="submit" class="btn btn-primary" name="modify">Save Entry</button>
        <button type="submit" name="delete" class="btn btn-primary">Delete Entry</button>
    </div>
</form>

<!-- Form for deleting -->
<form method="POST" action="{{ url_for('modify_password') }}" onsubmit="return confirm('Are you sure you want to delete this entry?');">
    <input type="hidden" id="record_id" name="record_id" value="{{ record_id }}">
</form>

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

<script>
  // JavaScript function to toggle password visibility
  function togglePassword() {
    const passwordInput = document.getElementById("password");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>

{% endblock %}