{% extends "base.html" %}

{% block content %}

{% for record in records %}
    <div>
        Username: {{ record.username }}<br>
        Password: {{ record.encryptedPassword }}<br>
        Salt: {{ record.salt }}<br>
        Security Question: {{ record.passwordRecoveryQuestion }}<br>
        Security Answer: {{ record.passwordRecoveryAnswer }}<br>
    </div>
    <hr>
{% endfor %}

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}