{% extends "base.html" %}

{% block content %}

{% for record in user_record %}
    <div>
        Username: {{ record.username }}<br>
        Password: {{ record.encrypted_password }}<br>
        Salt: {{ record.salt }}<br>
        Security Question: {{ record.password_recovery_question }}<br>
        Security Answer: {{ record.password_recovery_answer }}<br>
    </div>
    <hr>
{% endfor %}

<form method="POST" action="{{ url_for('next_page') }}">
    <div class=outer-container>
        {% for record in password_records %}
        <div class=login-container>
            <div>
                <span class="record-username username-link" title="Click to modify this entry"
                      data-record-id="{{ record.id }}" 
                      data-record-title="{{ record.title }}"
                      data-record-username="{{ record.app_user }}"
                      data-record-password="{{ record.encrypted_password }}"
                      data-record-url="{{ record.associated_url }}" data-record-notes="{{ record.notes }}">
                Username: {{ record.app_user }}</span> <br>
                Title: {{ record.title }}<br>
                Password: {{ record.encrypted_password }}<br>
                URL: {{ record.associated_url }}<br>
                Notes: {{ record.notes }}<br>
                <br>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var usernames = document.querySelectorAll('.record-username');
        usernames.forEach(function (username) {
            username.addEventListener('click', function () {
                var recordId = this.getAttribute('data-record-id');
                var recordTitle = this.getAttribute('data-record-title');
                var recordUsername = this.getAttribute('data-record-username');
                var recordPassword = this.getAttribute('data-record-password');
                var recordUrl = this.getAttribute('data-record-url');
                var recordNotes = this.getAttribute('data-record-notes');

             window.location.href = '/ModifyPassword?record_id=' + recordId +
                '&title=' + recordTitle +
                '&username=' + recordUsername +
                '&password=' + recordPassword +
                '&url=' + recordUrl +
                '&id=' + recordId +
                '&notes=' + recordNotes;
             });
        });
    });
</script>

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}
