{% extends "base.html" %}

{% block content %}
<form method = 'POST'>
    <h1>Password Generator</h1>
    <div class="center-text">
        <p>
        Use the tools below to specify your password constraints. Slide the bar to adjust the length of the
        password, and check the boxes to enable different types of characters.
        </p>
    </div>
    <div class="passgen-container">
        <div class="result">
        <p id="passwordOutput"></p>
            <p>Password: {{ passwordOutput }}</p>
        </div>
    </div>
    <div class="passgen-container">
        <div class="rangeslider">
            <div class="genlabel">
                <label>Password Length</label>
            </div>
            <input type="range" min="6" max="64" value="16" class="myslider" name="length" id="sliderRange">
            <p>
                <div class="slider-value">
                <span id="passLength">16</span>
                </div>
            </p>
        </div>
        <div class="checkboxes">
            <label class="checkbox-inline"><input type="checkbox" name="uppercase" id="uppercase"> Uppercase</label>
            <label class="checkbox-inline"><input type="checkbox" name="lowercase" id="lowercase"> Lowercase</label>
            <label class="checkbox-inline"><input type="checkbox" name="numbers" id="numbers"> Numbers</label>
            <label class="checkbox-inline"><input type="checkbox" name="symbols" id="symbols"> Symbols</label>
        </div>
        <button id="generateButton">Generate Password</button>
    </div>
    {% if logged_in and passwordOutput %}

    <div class="passgen-container">
        <a href="/pass_entry?password={{ passwordOutput }}" class="btn btn-primary">Save Password in Manager</a>
    </div>
    {% endif %}
    <script>
            const Http = new XMLHttpRequest();
            var rangeslider = document.getElementById("sliderRange");
            var output = document.getElementById("passLength");
            var current;

            rangeslider.oninput = function() {
                current = this.value;
                output.innerHTML = current;

                //Sends 'current' value of the slider
                Http.open('POST', '/slider_update')
                Http.send(current)

            }

    </script>

</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
  {% for message in messages %}
    <div class="alert">
		{{ message }}
		</div>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}

