{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('pass_entry') }}">
    <div class="login-container">
        <h1>Password Entry</h1>
        <label for="application">Application:</label>
        <input type="text" id="application" name="application" required><br><br>
        <label for="username">Application Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="{{ passed if passed is not none else '' }}" required><br><br>
        <label for="algorithm">Encryption Algorithm:</label>
        <select id="algorithm" name="algorithm">
            <option value="AES">AES</option>
            <option value="DES">DES</option>
            <option value="Blowfish">Blowfish</option>
            <option value="CAST5">CAST5</option>
            <!-- Add more encryption algorithms as needed -->
        </select><br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}


