{% extends "base.html" %}

{% block content %}
<form method="POST" action="/login">
    <div class="login-container">
        <h1>Password Entry</h1>
        <label for="application">Application:</label>
        <input type="text" id="application" name="application" required><br><br>
        <label for="username">Application Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="algorithm">Encryption Algorithm:</label>
        <select id="algorithm" name="algorithm">
            <option value="AES">AES</option>
            <option value="DES">DES</option>
            <option value="RSA">RSA</option>
            <!-- Add more encryption algorithms as needed -->
        </select><br><br>
        <input type="submit" value="Save">
    </div>
</form>
{% endblock %}


