{% extends "base.html" %}

{% block content %}

{% for record in records %}
    <div class=login-container>
        <div>
            Username: {{ record.app_user }}<br>
            Password: {{ record.encrypted_password }}<br>
            Title: {{ record.title }}<br>
            Associated URL: {{ record.associated_url }}<br>
            Notes: {{ record.notes }}<br>
            Date Created: {{ record.date_created }}<br>
            Date Modified: {{ record.date_modified }}<br>
            <br>
        </div>
    </div>
</hr>
{% endfor %}

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}