{% extends "base.html" %}

{% block content %}
<div class="login-container">
  <h1>Reset Password</h1>
  <form method="POST" action="{{ url_for('masterReset') }}">
    <div class="form-group">
      <label for="username">Username:</label>
      <div class="user-input">
        <input type="text" name="username" id="username" class="form-control" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}