/* Main body style*/
body {
	background: black;
	color: white;
	font-family: Verdana, Arial, sans-serif;
}

/* h1, h2, h3 Styles */
h1 {
	color: grey;
	font-size: 42px;
	font-family: Arial;
	text-align: center;
	text-shadow: 4px 4px 6px black, 0 0 45px red, 0 0 15px darkred;
}

h2 {
  color: black;
  font-family: Arial;
  text-align: center;
  margin: 0;
  font-size: 32px;
}

/* Navigation styles */
nav {
  background-color: #999;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.formButton {
	width: 200px;
	height: 50px;
	background: red;
	border: 2px solid white;
	border-top-left-radius: 15% 15%;	
	border-top-right-radius: 15% 15%;	
	border-bottom-left-radius: 15% 15%;	
	border-bottom-right-radius: 15% 15%;
	color: white;
	font-size: 18px;
	font-family: Arial;
	text-align: center;
}

 .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
    background: gray;
}
.rangeslider {
    display: flex;
    align-items: center;
}

.slider-value {
    flex-grow: 1;
    text-align: right;
    padding-right: 10px;
}

.center-text {
    text-align: center;
}

label {
    margin-bottom: 10px;
    color: white;
    font-family: Arial;
    text-align: center;
}